<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>world investment hub</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/fav-icon.ico">
    {% include "home/css.html" %}
    <style>
        p {
            font-size: 26px;
            line-height: 33px;
        }
    </style>
</head>
<body style="font-family: auto">

<div class="wrapper-boxed" style="height: auto">
    <div class="site-wrapper bg2">

        {% include "home/menu.html" %}
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <section class="section-side-image section-light sec-tpadding-2 clearfix">
            <div class="img-holder col-md-12 col-sm-12 pull-left">
                <div class="background-imgholder" style=""><img
                        class="nodisplay-image" src="http://via.placeholder.com/2000x1500" alt=""></div>
            </div>
            <div class="container">
                <div class="row">

                    <div class="col-md-4" style="display: unset">
                        <div class="ce-feature-box-55 text-center">
                            <h3 class="font-weight-6 less-mar-1 line-height-4">Paper Project
                            </h3>
                            <div class="ce-title-line align-left"></div>
                            <div class="clearfix"></div>
                            <br/>
                            <div class="img-box"><img src="/static/images/paper-min.webp"
                                                      style="height: 240px;display: inline-flex" alt=""
                                                      class="img-responsive"></div>
                            <div class="text-box text-center" style="padding: 20px">
                                {#                                <h4 class="title font-weight-4">Paper Project</h4>#}
                                {#                                <p class="small-text">Lorem ipsum dolor sit amet consectetuer adipiscing elit#}
                                {#                                    Suspendisse et justo.</p>#}
                                {#                                <div class="clearfix"></div>#}
                                {#                                <br>#}
                                <a style="color: #000;background-color: #78eaff;font-size: 21px"
                                   class="btn btn-dark btn-round"
                                   href="{% url "paper" %}">Next level
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="display: unset">
                        <div class="ce-feature-box-55 text-center">
                            <h3 class="font-weight-6 less-mar-1 line-height-4">Aircraft Project
                            </h3>
                            <div class="ce-title-line align-left"></div>
                            <div class="clearfix"></div>
                            <br/>
                            <div class="img-box"><img src="/static/images/aircraft.webp"
                                                      style="height: 240px;display: inline-flex" alt=""
                                                      class="img-responsive"></div>
                            <div class="text-box text-center" style="padding: 20px">
                                {#                                <h4 class="title font-weight-4">Aircraft Project</h4>#}
                                {#                                <p class="small-text">Lorem ipsum dolor sit amet consectetuer adipiscing elit#}
                                {#                                    Suspendisse et justo.</p>#}
                                {#                                <div class="clearfix"></div>#}
                                {#                                <br>#}
                                <a style="color: #000;background-color: #78eaff;font-size: 21px"
                                   class="btn btn-dark btn-round"
                                   href="{% url "aircraft" %}">Next level
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="display: unset">
                        <div class="ce-feature-box-55 text-center">
                            <h3 class="font-weight-6 less-mar-1 line-height-4">Methanol Project
                            </h3>
                            <div class="ce-title-line align-left"></div>
                            <div class="clearfix"></div>
                            <br/>
                            <div class="img-box"><img src="/static/images/methanol-min.webp"
                                                      style="height: 240px;display: inline-flex" alt=""
                                                      class="img-responsive"></div>
                            <div class="text-box text-center" style="padding: 20px">
                                {#                                <h4 class="title font-weight-4">Methanol Project</h4>#}
                                {#                                <p class="small-text">Lorem ipsum dolor sit amet consectetuer adipiscing elit#}
                                {#                                    Suspendisse et justo.</p>#}
                                {#                                <div class="clearfix"></div>#}
                                {#                                <br>#}
                                <a style="color: #000;background-color: #78eaff;font-size: 21px"
                                   class="btn btn-dark btn-round"
                                   href="{% url "methanol" %}">Next level
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="display: unset">
                        <div class="ce-feature-box-55 text-center">
                            <h3 class="font-weight-6 less-mar-1 line-height-4">Residential Towers
                            </h3>
                            <div class="ce-title-line align-left"></div>
                            <div class="clearfix"></div>
                            <br/>
                            <div class="img-box"><img src="/static/images/towers.webp"
                                                      style="height: 240px;display: inline-flex" alt=""
                                                      class="img-responsive"></div>
                            <div class="text-box text-center" style="padding: 20px">
                                {#                                <h4 class="title font-weight-4">Residential Towers Project</h4>#}
                                {#                                <p class="small-text">Lorem ipsum dolor sit amet consectetuer adipiscing elit#}
                                {#                                    Suspendisse et justo.</p>#}
                                {#                                <div class="clearfix"></div>#}
                                {#                                <br>#}
                                <a style="color: #000;background-color: #78eaff;font-size: 21px"
                                   class="btn btn-dark btn-round"
                                   href="{% url "towers" %}">Next level
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="display: unset">
                        <div class="ce-feature-box-55 text-center">
                            <h3 class="font-weight-6 less-mar-1 line-height-4"> Water Ring Project
                            </h3>
                            <div class="ce-title-line align-left"></div>
                            <div class="clearfix"></div>
                            <br/>
                            <div class="img-box"><img src="/static/images/waterring-min.webp"
                                                      style="height: 240px;display: inline-flex" alt=""
                                                      class="img-responsive"></div>
                            <div class="text-box text-center" style="padding: 20px">
{#                                <h4 class="title font-weight-4">Countries Water Ring Project</h4>#}
                                {#                                <p class="small-text">Lorem ipsum dolor sit amet consectetuer adipiscing elit#}
                                {#                                    Suspendisse et justo.</p>#}
                                {#                                <div class="clearfix"></div>#}
                                {#                                <br>#}
                                <a style="color: #000;background-color: #78eaff;font-size: 21px"
                                   class="btn btn-dark btn-round"
                                   href="{% url "water" %}">Next level
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>
</div>
{% include "home/scripts.html" %}
<script>
    var hH = document.getElementsByTagName("body")[0].scrollHeight
    document.getElementsByClassName("wrapper-boxed")[0].style.height = hH + "px"
</script>
</body>
</html>
