{% load operation %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% version_css "js/bootstrap/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% version_css "js/megamenu/stylesheets/screen.css" %}">
<link rel="stylesheet" href="{% version_css "css/theme-default.css" %}" type="text/css">
<link rel="stylesheet" href="{% version_css "js/loaders/stylesheets/screen.css" %}">
{#<link rel="stylesheet" href="/static/css/corporate.css" type="text/css">#}
<link rel="stylesheet" href="{% version_css "fonts/font-awesome/css/font-awesome.min.css" %}" type="text/css">
{#<link rel="stylesheet" type="text/css" href="/static/fonts/Simple-Line-Icons-Webfont/simple-line-icons.css"#}
{#      media="screen"/>#}
{#<link rel="stylesheet" href="/static/fonts/et-line-font/et-line-font.css">#}
<link rel="stylesheet" type="text/css" href="{% version_css "js/revolution-slider/css/settings.css" %}">
<link rel="stylesheet" type="text/css" href="{% version_css "js/revolution-slider/css/layers.css" %}">
{#<link rel="stylesheet" type="text/css" href="/static/js/revolution-slider/css/navigation.css">#}
{#<link rel="stylesheet" href="/static/js/parallax/main.css">#}
{#<link rel="stylesheet" type="text/css" href="/static/js/cubeportfolio/cubeportfolio.min.css">#}
{#<link href="/static/js/owl-carousel/owl.carousel.css" rel="stylesheet">#}
{#<link href="/static/js/owl-carousel/owl.theme.css" rel="stylesheet">#}
{#<link href="/static/js/tabs/css/responsive-tabs.css" rel="stylesheet" type="text/css" media="all"/>#}
{#<link rel="stylesheet" href="/static/js/ytplayer/ytplayer.css"/>#}
{#<link href="/static/js/accordion/css/smk-accordion.css" rel="stylesheet">#}
{#<link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">#}
{#<link rel="stylesheet/less" type="text/css" href="/static/less/skin.less">#}
<link rel="stylesheet" href={% version_css "js/megamenu/stylesheets/custom_styles.css" %}>
