<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>world investment hub</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/fav-icon.ico">
    {% include "home/css.html" %}
    <style>
        p {
            font-size: 26px;
            line-height: 33px;
        }

        input[type='radio'] {
            height: 21px;
            width: 20px;
            vertical-align: sub;
        }

    </style>
</head>
<body style="font-family: auto">

<div class="wrapper-boxed" style="height: auto">
    <div class="site-wrapper bg2">

        {% include "home/menu.html" %}
        <div class="clearfix"></div>

        <section class="sec-bpadding-2" style="margin-top: 100px">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-10 col-centered">
                        <div class="sec-title-container less-padding-3 text-center">
                            <h2 class="font-weight-6 less-mar-1 line-height-4">Paper Project
                            </h2>
                            <div class="ce-title-line align-left"></div>
                        </div>
                        <div class="clearfix"></div>
                        <br/>
                        <div class="col-lg-6 col-md-12 margin-bottom"><img src="/static/images/paper-min.webp" alt=""
                                                                           class="img-responsive"/></div>
                        <div class="col-lg-6 col-md-12 padding-left-6">
                            <p>
                                The factory produces one hundred and ten thousand tons of paper, and paper derivatives
                                with Hytic technology , all of which R&D and Mills Plan are owned by engineers and
                                specialists, and all machinery will be manufactured and produced by hub.<br>
                                The plant will be fully environmentally friendly, and the cellulose consumed of the
                                plant will use straw and leaves of trees, The factory will be operational and production
                                in the first module for 5 months, The factory's profit will be $ 40 million per year
                                after nominal production
                            </p>
                            <form method="post">
                                {% csrf_token %}
                                <label style="font-size: 18px">
                                    <input type="radio" name="confirm" required> &nbsp;&nbsp;I want to buy shares of
                                    paper project
                                </label>
                                <br/>
                                <br/>
                                <button type="submit" class="btn btn-dark btn-round"
                                        style="color: #000;background-color: #78eaff;font-size: 21px">
                                    Next level
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="clearfix"></div>
    </div>
</div>
{% include "home/scripts.html" %}
<script>
    var hH = document.getElementsByTagName("body")[0].scrollHeight
    document.getElementsByClassName("wrapper-boxed")[0].style.height = hH + "px"
</script>
</body>
</html>
