<!DOCTYPE html>
{% load operation %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>world investment hub</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/fav-icon.ico">
    {% include "home/css.html" %}
</head>
<body style="font-family: auto">
<div class="wrapper-boxed" style="height: auto">
    <div class="site-wrapper bg3">

        {% include "home/menu.html" %}
        <div class="clearfix"></div>

        <form method="post">
            {% csrf_token %}
            <section class="sec-padding" style="padding-top: 25px!important;">
                <div class="container">

                    <div class="col-md-12 text-center"><h3>Changing password
                    </h3></div>
                    {% for i in login_form.errors.values %}
                        <h5 class="text-danger text-center">{{ i }}</h5>
                    {% endfor %}
                    <div class="clearfix"></div>
                    <div class="form-body bg-light">
                        <div class="row">
                            <br>
                            <div class="col-md-12 text-center">
                                <h3 class="text-danger">{{ form.errors }}</h3>
                                <h4 style="margin-top: 10px">old password</h4>
                                {{ form.old_password }}
                                <h4 style="margin-top: 10px">new password</h4>
                                {{ form.new_password1 }}
                                <h4 style="margin-top: 10px">new password</h4>
                                {{ form.new_password2 }}
                            </div>
                        </div>
                        <div class="row">
                            <br>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-dark btn-medium" type="submit"
                                        style="font-family: auto;font-size: 22px;line-height: .8;border-radius: 14px;border: 3px solid #0d99ff;">
                                    update changes
                                </button>
                                {#                                <button class="btn btn-danger btn-medium" type="button"#}
                                {#                                        onclick="window.location.href='{% url "register" %}'"#}
                                {#                                        style="font-family: auto;font-size: 22px;line-height: .8;border-radius: 14px;border: 3px solid #0d99ff;">#}
                                {#                                    Register#}
                                {#                                </button>#}
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!--end form body-->
                </div>
            </section>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
{% include "home/scripts.html" %}
<script>
    var hH = document.getElementsByTagName("body")[0].scrollHeight
    document.getElementsByClassName("wrapper-boxed")[0].style.height = hH + "px"
</script>
<script>
    document.getElementsByTagName('input')[1].classList.add('my_input');
    document.getElementsByTagName('input')[2].classList.add('my_input');
    document.getElementsByTagName('input')[3].classList.add('my_input');
</script>
</body>
</html>
